# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.*

# SQLite or other local DBs
*.db
*.sqlite3

# Logs
*.log

# Migrations (opcional, se for gerar localmente)
migrations/
alembic/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# MyPy and Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Mac/Linux/Windows trash files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
